.search {
    width: 97%;
}

div input {
    width: 100%;
    border-bottom: 1px;
    border-color: black ;
    background-color: black;
    font-size: 16px;
    color: white;
}

input::placeholder {
    color: white;
}